{# src/Blogger/BlogBundle/Resources/views/Page/about.html.twig #}
{# Reference: http://tutorial.symblog.co.uk/docs/configuration-and-templating.html #}

{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About Symfony</h1>
    </header>
    <article>
        <p>Symfony is an internationally recognized PHP web application framework under the MIT license. 
		Supported by SensioLabs, Symfony provides a stable development environment with a large community of developers 
		and many existing resources. </p>
    </article>
	<div>
		<object width="601" height="492" id="player"><param name="movie" value="http://www.authorstream.com/player.swf?fb=0&nb=1&rl=0&ap=0&pl=as&p=1573272_634866029861012500" />
			<param name="allowfullscreen" value="true" /><param name="allowScriptAccess" value="always"/>
			<embed src="http://www.authorstream.com/player.swf?fb=0&nb=1&rl=0&ap=0&pl=as&p=1573272_634866029861012500" 
				type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="601" height="492"></embed>
		</object>
		<div  style="font-family: arial; font-style: normal; font-variant: normal; font-weight: normal;font-size: 11px; 
		line-height: normal; font-size-adjust: none; font-stretch: normal;">
		<a href="http://www.authorstream.com/Presentation/lilmocca-1573272-symfony/" target="_blank" style="font:normal 11px,arial;">Symfony</a> | More 
		<a href="http://www.authorstream.com/" target="_blank">PowerPoint presentations</a> from <a href="http://www.authorstream.com/lilmocca/" target="_blank">lilmocca </a>
		</div>
	</div>
{% endblock %}

{% block sidebar %}
	<div class="about">
		<p><strong>GROUP 10: WEWEB</strong></p>
		<ul>
			<li>&#187; Andy Li</li>
			<li>&#187; Lily Wang</li>
			<li>&#187; Roy Wang</li>
			<li>&#187; Ryan Wong</li>
		</ul>
	</div>
{% endblock %}
