{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{# Reference: http://tutorial.symblog.co.uk/docs/configuration-and-templating.html #}

{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block body %}
    <header>
        <h1>Welcome!</h1>
    </header>

	<p>This site is built with Symfony2 and Twig.</p>
{% endblock %}

{% block sidebar %}
	{# empty sidebar #}
{% endblock %}
