body { 	line-height: 1; font-family: 'Verdana', 'Arial', sans-serif; font-size: 12px; width: 100%; height: 100%; color: #000; font-size: 14px; background-color: #FFF5B8;}	


.clear { clear: both; }

a:active {
  outline: none; 
}

#wrapper { margin: 10px auto; width: 1000px; }
#wrapper a { text-decoration: none; color: #FF591A; }
#wrapper a:hover {color: wheat}
#wrapper span.highlight { color: #F48A00; }

#header { border-bottom: 1px solid #DA4100; margin-bottom: 20px; }
#header .top { border-bottom: 1px solid #DA4100; margin-bottom: 0px; }
#header ul.navigation { list-style: none; text-align: left; }
#header .navigation li { display: inline }
#header .navigation li a {padding: 13px 20px; border-left: 1px solid #DA4100;}
#header h2 { font-family: 'The Girl Next Door'; font-size: 50px; text-align: center; line-height: 0px; margin-top: 70px; }
#header h2 a { color: #6B2400; }
#header h2 a:hover { color: wheat; }
#header h3 { text-align: center; font-family: 'Annie Use Your Telescope'; font-size: 20px; margin-top: -5px; margin-bottom: 35px; font-weight: normal; color: #F48A00}

.main-col { width: 700px; display: inline-block; float: left; padding: 20px; margin-top: -30px; margin-bottom: 20px;  }

.sidebar { width: 239px; padding: 10px; display: inline-block; color: #4C1A00  }
.sidebar ul { list-style: none; text-align: left; color: #AD5C33; text-indent: -2em; line-height: 25px; }

.main-col a { color: #F48A00; }
.main-col h1,
.main-col h2
    { line-height: 1.2em; font-size: 28px; margin-bottom: 10px; font-weight: normal; color: #FF591A;}
.main-col p { line-height: 1.5em; margin-bottom: 20px; font-size: 14px; color: #F48A00 }

#footer { border-top: 1px solid #DA4100; clear: both; text-align: center; padding: 10px; color: #FFB894; }

#references ul { list-style: none; line-height: 2em; }


